<%= form_with(model: booth, local: true) do |form| %>
  <% if booth.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booth.errors.count, "error") %> prohibited this booth from being saved:</h2>

      <ul>
        <% booth.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :open_at %>
    <%= select_datetime booth.open_at + 8.hours, :prefix => :open_at %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
