<body style="background-image: url(<%= asset_path 'christmas.jpg' %>);" data-turbolinks="false">
    <div class="highlight-blue" style="color: #ffffff;background-color: rgba(94,45,45,0.86);padding: 9px;">
        <div class="container">
            <div class="intro">
                <h2 class="text-center" style="font-size: 6.5vw"><strong style="color: rgb(0, 153, 153)">SIEMENS</strong> Glühwein</h2>
            </div>
            <div class="buttons"></div>
        </div>
    </div>
    <div style="background-color: rgba(94,45,45,0.86);">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 text-center" style="background-color: rgba(20,5,18,0);">
                    <div style="background-color: rgba(255, 255, 255, 1);">
                      <table class="table" style="font-size: 4vw">
                        <thead>
                          <tr>
                            <th scope="col">Location</th>
                            <th scope="col">Fill Level</th>
                            <th scope="col">Temperature</th>
                            <th scope="col">Time to Empty</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">Booth #1</th>
                            <td><span id="liter_1"><%= @weights[1] %></span>liter</td>
                            <td><span id="temp_1"><%= @temps[1] %></span>°C</td>
                            <td><span id="empty_1"></span></td>
                          </tr>
                          <tr>
                            <th scope="row">Booth #2</th>
                            <td><span id="liter_2"><%= @weights[2] %></span>liter</td>
                            <td><span id="temp_2"><%= @temps[2] %></span>°C</td>
                            <td><span id="empty_2"></span></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                </div>
            </div>
            <div class="row">
              <div class="col-md-12 text-center" style="background-color: rgba(20,5,18,0);">
              &nbsp;
              </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center" style="background-color: rgba(20,5,18,0);">
                    <div style="background-color: rgba(255, 255, 255, 1);">
                      <table class="table" style="font-size: 4vw">
                        <tbody>
                          <tr>
                            <td><strong>At 4 liters the wine is hard to reach.<br/>Avoid getting below!</strong></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="<%= asset_path 'jquery.min.js' %>"></script>
    <script src="<%= asset_path 'bootstrap.min.js' %>"></script>
    <script>
      $(document).ready(function()
      {
        setInterval(function() {
          try {
            $("#liter_1").load('<%= booth_liter_path(Booth.find(1)) %>');
            liters = parseInt($("#liter_1")[0].innerText);
            if (liters <= 5) {
              $("#liter_1")[0].style.color = "red";
            } else if (liters <= 10) {
              $("#liter_1")[0].style.color = "orange";
            } else {
              $("#liter_1")[0].style.color = "black";
            }
          } catch (e) { }
          try {
            $("#empty_1").load('<%= booth_empty_path(Booth.find(1)) %>');
          } catch (e) { }
          try {
            $("#temp_1").load('<%= booth_temp_path(Booth.find(1)) %>');
          } catch (e) { }
        }, 5000);

        setInterval(function() {
          try {
            $("#liter_2").load('<%= booth_liter_path(Booth.find(2)) %>');
            liters = parseInt($("#liter_2")[0].innerText);
            if (liters <= 5) {
              $("#liter_2")[0].style.color = "red";
            } else if (liters <= 10) {
              $("#liter_2")[0].style.color = "orange";
            } else {
              $("#liter_2")[0].style.color = "black";
            }
          } catch (e) { }
          try {
            $("#empty_2").load('<%= booth_empty_path(Booth.find(2)) %>');
          } catch (e) { }
          try {
            $("#temp_2").load('<%= booth_temp_path(Booth.find(2)) %>');
          } catch (e) { }
        }, 5000);
      });
    </script>
</body>
