<body style="background-image: url(<%= asset_path 'christmas.jpg' %>);" data-turbolinks="false">
    <div style="background-image: url(<%= asset_path 'christmas.jpg' %>);"); background-repeat: no-repeat; background-size: cover; background-position: center center;">
        <nav class="navbar navbar-light navbar-expand-md navigation-clean" style="background-image: url(<%= asset_path 'christmas.jpg' %>);padding: 15px;padding-left: -5px;">
            <div class="container-fluid"><a class="navbar-brand" href="/" style="font-size: 22px;color: rgb(94,26,26);background-color: rgba(255,255,255,0);"><img src="<%= asset_path 'siemens_ingenuity_for_life-768x432.png' %>" style="height: 100px;background-color: #ffffff;"></a>
            </div>
        </nav>
    </div>
    <div class="highlight-blue" style="color: #ffffff;background-color: rgba(94,45,45,0.86);padding: 9px;">
        <div class="container">
            <div class="intro">
              <h2 class="text-center" style="font-size: 5vw"><strong style="color: rgb(0, 153, 153)">SIEMENS</strong>&nbsp;Glühwein</h2>
            </div>
            <div class="buttons"></div>
        </div>
    </div>
    <div style="background-color: rgba(94,45,45,0.86);">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 text-center" style="background-color: rgba(20,5,18,0);">
                    <div style="background-color: rgba(210, 77, 87, 1);">
                      <strong style="color: #fff; font-size: 2em">Booth #1 Temp Sensor</strong>
                      <%= area_chart booth_thermometer_admin_path(Booth.find(1), Booth.find(1).thermometers.first),
                                     min: 0, max: 100, points: false,
                                     height: '350px', colors: ['rgba(103, 65, 114, 0.6)'], library: {
                                       scales: {
                                         yAxes: [
                                           {
                                             ticks: { fontColor: "#fff" },
                                             scaleLabel: { fontColor: "#fff" }
                                           }
                                         ],
                                         xAxes: [
                                           {
                                             ticks: { fontColor: "#fff" }
                                           }
                                         ]
                                       }
                                     }
                                     %>

                    </div>
                </div>
                <div class="col-md-6 text-center" style="background-color: rgba(0,0,0,0);">
                    <div style="background-color: rgba(210, 77, 87, 1);">
                      <strong style="color: #fff; font-size: 2em">Booth #1 Scale</strong>
                      <%= area_chart booth_scale_admin_path(Booth.find(1), Booth.find(1).scales.first),
                                     min: 0, max: 40, points: false,
                                     height: '350px', colors: ['rgba(103, 65, 114, 0.6)'], library: {
                                       scales: {
                                         yAxes: [
                                           {
                                             ticks: { fontColor: "#fff" },
                                             scaleLabel: { fontColor: "#fff" }
                                           }
                                         ],
                                         xAxes: [
                                           {
                                             ticks: { fontColor: "#fff" }
                                           }
                                         ]
                                       }
                                     }
                                     %>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 text-center" style="background-color: rgba(20,5,18,0);">
                &nbsp;
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 text-center" style="background-color: rgba(20,5,18,0);">
                    <div style="background-color: rgba(210, 77, 87, 1);">
                      <strong style="color: #fff; font-size: 2em">Booth #2 Temp Sensor</strong>
                      <%= area_chart booth_thermometer_admin_path(Booth.find(2), Booth.find(2).thermometers.first),
                                     min: 0, max: 100, points: false,
                                     height: '350px', colors: ['rgba(103, 65, 114, 0.6)'], library: {
                                       scales: {
                                         yAxes: [
                                           {
                                             ticks: { fontColor: "#fff" },
                                             scaleLabel: { fontColor: "#fff" }
                                           }
                                         ],
                                         xAxes: [
                                           {
                                             ticks: { fontColor: "#fff" }
                                           }
                                         ]
                                       }
                                     }
                                     %>

                    </div>
                </div>
                <div class="col-md-6 text-center" style="background-color: rgba(0,0,0,0);">
                    <div style="background-color: rgba(210, 77, 87, 1);">
                      <strong style="color: #fff; font-size: 2em">Booth #2 Scale</strong>
                      <%= area_chart booth_scale_admin_path(Booth.find(2), Booth.find(2).scales.first),
                                     min: 0, max: 40, points: false,
                                     height: '350px', colors: ['rgba(103, 65, 114, 0.6)'], library: {
                                       scales: {
                                         yAxes: [
                                           {
                                             ticks: { fontColor: "#fff" },
                                             scaleLabel: { fontColor: "#fff" }
                                           }
                                         ],
                                         xAxes: [
                                           {
                                             ticks: { fontColor: "#fff" }
                                           }
                                         ]
                                       }
                                     }
                                     %>

                    </div>
                </div>
                <div class="row">
                <div class="col-md-6 text-center" style="background-color: rgba(20,5,18,0);">
                  &nbsp;
                </div>
                </div>
            </div>
        </div>
    </div>
    <script src="<%= asset_path 'jquery.min.js' %>"></script>
    <script src="<%= asset_path 'bootstrap.min.js' %>"></script>
    <script>
      $(document).ready(function()
      {
        setInterval(function()
        {
          try {
            $.get('<%= booth_thermometer_admin_path(Booth.find(1), Booth.find(1).thermometers.first) %>', function(data) {
              var chart = Chartkick.charts["chart-1"];
              chart.updateData(data);
            });
          } catch (e) {
            /* catch issue during update */
          }
        }, 5000);

        setInterval(function()
        {
          try {
            $.get('<%= booth_scale_admin_path(Booth.find(1), Booth.find(1).scales.first) %>', function(data) {
              var chart = Chartkick.charts["chart-2"];
              chart.updateData(data);
            });
          } catch(e) {
            /* catch issue during update */
          }
        }, 5000);

        setInterval(function()
        {
          try {
            $.get('<%= booth_thermometer_admin_path(Booth.find(2), Booth.find(2).thermometers.first) %>', function(data) {
              var chart = Chartkick.charts["chart-1"];
              chart.updateData(data);
            });
          } catch (e) {
            /* catch issue during update */
          }
        }, 5000);

        setInterval(function()
        {
          try {
            $.get('<%= booth_scale_admin_path(Booth.find(2), Booth.find(2).scales.first) %>', function(data) {
              var chart = Chartkick.charts["chart-2"];
              chart.updateData(data);
            });
          } catch(e) {
            /* catch issue during update */
          }
        }, 5000);
      });
    </script>
</body>
