<p id="notice"><%= notice %></p>

<p>
  <strong>Weight:</strong>
  <%= @weight.weight %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @weight.raw %>
</p>

<p>
  <strong>Scale:</strong>
  <%= @weight.scale_id %>
</p>

<%= link_to 'Edit', edit_weight_path(@weight) %> |
<%= link_to 'Back', weights_path %>
